* {
  box-sizing: border-box;
  background: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.form-input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  padding: 5%;
  margin-top: 10%;
  color: black;
}

.form-input::placeholder {
  color: black;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid white;
  height: 100px;
  width: 1000px;
}

.coin-row img {
  height: 35px;
  width: 35px;
  margin-left: 60px;
}

.coin-row h1 {
  font-size: 16px;
  width: 150px;
}

.coin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: right;
}

.coin-symbol {
  text-transform: uppercase;
  width: 100px;
  text-align: right;
}

.coin-price {
  width: 100px;
}

.coin-volume {
  width: 100px;
}

.coin-cap {
  width: 150px;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid white;
  width: 1000px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: 29%;
  text-align: right;
}

.market-name {
  font-size: 20px;
  margin-left: 60px;
}

.market-price {
  font-size: 20px;
}

.market-percent {
  font-size: 20px;
}

.market-vol {
  font-size: 20px;
}

.market-cap {
  font-size: 20px;
}

@media (max-width: 1050px) {
  .coin-row {
    width: 800px;
  }
  .info-row {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .coin-row {
    width: 600px;
  }
  .info-row {
    width: 600px;
  }

  .main-header {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
  }

  .coin-symbol {
    text-align: start;
  }

  .coin-price {
    width: 40px;
    margin-right: 7%;
  }

  .coin-percent {
    margin-right: 5%;
  }

  .coin-volume {
    width: 50px;
    margin-right: 17%;
  }

  .coin-cap {
    width: 100px;
  }

  .coin-row img {
    margin-left: 10px;
  }

  .market-price {
    font-size: 15px;
  }

  .market-percent {
    font-size: 15px;
  }

  .market-vol {
    font-size: 15px;
  }

  .market-cap {
    font-size: 15px;
  }

  .market-name {
    font-size: 15px;
    margin-left: 65px;
  }
  .info {
    margin-left: 22%;
  }
}

@media (max-width: 650px) {
  .coin-row {
    width: 550px;
  }
  .info-row {
    width: 550px;
  }
  .info {
    margin-left: 15%;
  }
}
