* {
  box-sizing: border-box;
  background: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.form-input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  padding: 5%;
  margin-top: 10%;
  color: black;
}

.form-input::placeholder {
  color: black;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid white;
  height: 100px;
  width: 1000px;
}

.coin-row img {
  height: 35px;
  width: 35px;
  margin-left: 60px;
}

.coin-row h1 {
  font-size: 16px;
  width: 150px;
}

.coin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: right;
}

.coin-symbol {
  text-transform: uppercase;
  width: 100px;
  text-align: right;
}

.coin-price {
  width: 100px;
}

.coin-volume {
  width: 100px;
}

.coin-cap {
  width: 150px;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid white;
  width: 1000px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: 29%;
  text-align: right;
}

.market-name {
  font-size: 20px;
  margin-left: 60px;
}

.market-price {
  font-size: 20px;
}

.market-percent {
  font-size: 20px;
}

.market-vol {
  font-size: 20px;
}

.market-cap {
  font-size: 20px;
}
